@import url(variables.css);

/* Buttons */
.sl-button {
    font-weight: bold;
    border-radius: 5px;
}

.sl-button.sl-button-small {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.sl-button.sl-button-large {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.sl-button.sl-button-primary {
    background-color: var(--sl-color-button-primary) !important;
    color: var(--sl-color-button-text-primary) !important;
}

.sl-button.sl-button-primary:hover {
    background-color: var(--sl-color-button-primary) !important;
    color: var(--sl-color-button-text-primary) !important;
    border-color: var(--sl-color-button-text-secondary) !important;
}

.sl-button.sl-button-primary:active {
    background-color: var(--sl-color-button-primary) !important;
    color: var(--sl-color-button-text-primary) !important;
    border-color: var(--sl-color-button-text-secondary) !important;
}

.sl-button.sl-button-secondary {
    background-color: var(--sl-color-button-secondary) !important;
    color: var(--sl-color-button-text-secondary) !important;
}

.sl-button.sl-button-secondary:hover {
    background-color: var(--sl-color-button-secondary) !important;
    color: var(--sl-color-button-text-secondary) !important;
    border-color: var(--sl-color-button-text-secondary) !important;
}

.sl-button.sl-button-secondary:active {
    background-color: var(--sl-color-button-secondary) !important;
    color: var(--sl-color-button-text-secondary) !important;
    border-color: var(--sl-color-button-text-secondary) !important;
}


/* Text fields */
.sl-textfield {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    border-radius: 5px;
    border-color: transparent;
    outline: none;
    transition: all 150ms;
}

.sl-textfield.sl-textfield-light {
    background-color: var(--sl-color-textfield-light-background);
    box-shadow: 0px 16px 40px 0px #14483b1a;
}

.sl-textfield.sl-textfield-light::placeholder {
    color: var(--sl-color-textfield-light-placeholder);
    font-size: 16px;
    opacity: 40%;
}

.sl-textfield.sl-textfield-light:focus {
    box-shadow: 0px 16px 40px 8px #14483b1a;
}


/* Cards */
.sl-card {
    border-radius: 7px;
    transition: all 0.35s;
}

.sl-card.sl-card-white {
    background-color: var(--sl-color-card-white-background);
    box-shadow: 0px 15px 60px -40px #1e3f5a82;
}

.sl-card.sl-card-gray {
    background-color: var(--sl-color-card-gray-background);
}

.sl-card.sl-card-hover:hover {
    box-shadow: 0px 15px 60px -20px #1e3f5a82;
}

.sl-card.sl-card-support {
    padding: 40px;
}

.sl-card.sl-card-app {
    padding: 30px;
}