@import url(variables.css);
@import url(text-utility.css);
@import url(component-utility.css);

body {
    background-color: var(--sl-color-background);
}

.sl-header {
    background-color: var(--sl-color-header-background);
    padding-top: 10px;
}

.sl-header-content {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.sl-header-container {
    padding-left: 2vw;
    padding-right: 2vw;
}

.sl-support-section {
    margin-top: 60px;
}

.sl-app-section {
    margin-top: 100px;
}